:root {
  --main-color: #1a8fff;
  --text-color: black;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--bg-color);
  position: relative;
}
.calendar {
  width: 700px;
  border: 1px solid black;
  &__navigations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 26px;
    &__previous-week {
      align-items: center;
      svg {
        height: 26px;
        width: 26px;
        display: flex;
        cursor: pointer;
      }
    }
    &__next-week {
      align-items: center;
      svg {
        height: 26px;
        width: 26px;
        display: flex;
        
      }
    }
  }

  &__header{
    display: flex;
    .weekday{

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      min-width: 100px;
      border: 1px solid gray;
    }
  }
}
